body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 0;
}

header {
  background-color: rgb(85, 59, 11);
  color: white;
  width: 95%;
  padding-left: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: large;
}
header h1 {
  width: 100%;
}

nav {
  margin-top: 20px;
}
nav a {
  display: block;
  text-decoration: none;
  background-color: rgb(211, 139, 5);
  width: 90%;
  padding-left: 5%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
}

section cite {
  cursor: pointer;
}

section cite:hover {
  color: brown;
  font-weight: bold;
}
section img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

aside {
  width: 100%;
  background-color: rgb(211, 139, 5);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

aside p {
  margin-bottom: 50px;
}

footer {
  background-color: rgb(85, 59, 11);
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
/*Laptop*/
@media screen and (min-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "nav section section aside"
      "footer footer footer footer";
  }
  section {
    margin-right: 15px;
    margin-left: 15px;
  }

  nav a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer {
    margin-top: 10px;
  }

  aside p {
    margin-bottom: 10px;
  }
  aside {
    height: 300px;
  }
}

/*Tablette*/
@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header "
      "nav section section "
      "aside aside aside"
      "footer footer footer ";
  }

  section {
    margin-left: 10px;
  }
}
